@import './variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

html, body {
    height: 100%;
}

.home {
    height: 100vh;
    color: #bdbdbd;
    text-align: center;

    // full screen background image
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // verticaly center
    > .container {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.home-title {
    margin: 0;
    font-weight: 300;
    font-size: 3rem;
}

.home-links {
    padding-top: 50px;

    > .btn {
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        width: 100px;

        &:hover, &:focus {
            background-color: transparent;

            &::before, &::after {
                height: 100%;
                width: 100%;
                border: 1px solid transparent;
            }

            &::before {
                border-top-color: $brand-primary;
                border-right-color: $brand-primary;
                transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
            }

            &::after {
                border-bottom-color: $brand-primary;
                border-left-color: $brand-primary;
                transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
            }
        }

        &::before, &::after {
            content: '';
            box-sizing: content-box;
            position: absolute;
            top: -1px;
            left: -1px;
            height: 0;
            width: 0;
        }
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
    .home-links {
        > .btn {
            display: block;
            width: 80%;
            margin: 0 auto 10px auto;
        }
    }
}

.bg-shade {
    border: 1px solid #e0e5e6;
    background: #f6f8f8;
}

.tech-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    > a {
        display: inline;
        padding: ($spacer-y * 1.5) ($spacer-y * 1.5);
        max-width: 150px;
        display: block;
        text-align: center;
        color: $text-muted;

        &:hover, &:focus {
            text-decoration: none;

            > img {
                transform: scale(1.1);
                transition: transform .2s;
            }
        }

        > img {
            max-width: 100%;
        }

        > span {
            display: block;
            padding-top: ($spacer-y / 2);
        }
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
    .tech-group {
        > a {
            padding: ($spacer-y * 0.8) ($spacer-y * 0.8);
            max-width: 50%;
        }
    }
}

.contact-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > a {
        padding: $spacer-y ($spacer-y * 1.5);
        color: $body-color;
        transition: color 0.3s;

        &:hover, &:focus {
            text-decoration: none;
            color: $brand-primary;
        }

        > i {
            font-size: 3rem;
        }
    }
}

// footer
.copyright {
    text-align: center;
    color: $text-muted;
    font-size: $small-font-size;
}
