// sass-lint:disable no-vendor-prefixes
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: fade-out($black, 0.75);
}
