@import 'node_modules/bootstrap/scss/bootstrap';
@import './scrollbar';

html,
body {
  min-height: 100%;
}

.bg-shade {
  background: $gray-100;
  border: 1px solid $gray-300;
}

.copyright {
  color: $text-muted;
  font-size: $small-font-size;
  text-align: center;
}
