@import 'src/sass/core';

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-list-item {
  color: $body-color;
  padding: $spacer ($spacer * 1.5);
  transition: color .3s;

  &:hover,
  &:focus {
    color: $blue !important;
    text-decoration: none;
  }

  > i {
    font-size: 3rem;
  }
}
