---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Privacy Policy">
  <main class="min-h-screen bg-neutral-900 text-white">
    <div class="container mx-auto">
      <section class="p-8 lg:p-20">
        <h1 class="text-5xl font-bold leading-none">Privacy Policy</h1>
        <p class="mt-10">
          No data or personal information is collected by this app.
        </p>
      </section>
    </div>
  </main>
</Layout>
