@charset 'utf-8';
@import '~bulma/bulma.sass';
@import '@fortawesome/fontawesome-svg-core/styles.css';

.bg {
  background-image: url('./images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link {
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
